.login-container {
    display: flex;
    width: 35%;
    height:50%;
    flex-direction: column;
    border: 5px solid #ffffff;
    justify-content: center;
    padding-left: 5%;
    margin-left: 30%;
    margin-top: 10%;
    background-color:#f3f0f0;
}
  
.login-container > * {
    width: 100%;
}

mat-form-field{
      width: 80%;
}

h1{
      padding-left:8%;
      color: rgb(30, 18, 75);
      text-shadow: 2px 2px 2px #CCCCCC;
      font-size: 30px;
}

button{
      background-color: darkblue;
      color: white;
      width: 40%;
        margin-left: 20%;
}