<div class="dashboard-container" style="display:flex; flex-wrap: wrap;">
  <!-- <mat-grid-list cols="3" rowHeight="250px">
    <mat-grid-tile><img src="./assets/car.jpg">
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="2">
      <h1>Audi</h1>
    </mat-grid-tile>
  </mat-grid-list> -->

  <mat-card class="car-card" *ngFor="let item of items">
    <img mat-card-image [src]= 'item.imageUrl' [alt] = 'item.label'>
    <mat-card-content>
      <p class="carName">{{item.label}}</p>
      <dl class="detailList">
      <dt> EZ : {{item.ez}} </dt>
      <dt> Mileage : {{item.milageInKM}} </dt>
      <dt> Fuel Type : {{item.fuelType}} </dt>
      <dt> Transmission : {{item.transmission}} </dt>
      <dt> Current Highest Bid Value : {{item.currentHighestBidValue}} </dt>
      <dt> Remaining time in seconds : {{item.remainingTimeInSeconds | date:'hh:mm:ss'}} </dt>
      </dl>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</div>