<mat-drawer-container>
  <mat-drawer mode="side" class="sideNav" opened>
    <img class="logoImage" src='./assets/caronsalelogo.jpg'>
  </mat-drawer>
  <mat-drawer-content>
    <div class="dashboard-container" style="display:flex; flex-wrap: wrap;">
      <mat-card class="car-card" *ngFor="let item of items">
        <img class="carImage" mat-card-image [src]='item.imageUrl' [alt]='item.label'>
        <mat-card-content>
          <div class="carNameDiv">
            <p class="carName">{{item.label}}</p>
          </div>
          <table class="detailList">
            <tr>
              <th> EZ </th>
              <td>{{item.ez}}</td>
            </tr>
            <tr>
              <th> Mileage </th>
              <td>{{item.milageInKM}}</td>
            </tr>
            <tr>
              <th> Fuel Type </th>
              <td>{{item.fuelType}}</td>
            </tr>
            <tr>
              <th> Transmission </th>
              <td>{{item.transmission}}</td>
            </tr>
            <tr>
              <th> Current Highest Bid Value </th>
              <td style="font-size: 20px;">€{{item.currentHighestBidValue}}</td>
            </tr>
            <tr>
              <th> Remaining time in seconds </th>
              <td>{{item.remainingTimeInSeconds | date:'hh:mm:ss'}}</td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>